html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

/* ----------------------------------------------Custom Fonts--------------------------------------------- */

@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/Fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/Fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Black';
    src: url('assets/Fonts/Lato-Black.ttf');
}

/* ----------------------------------------------------------------------------------------------------- */

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.897); */
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    margin: 0;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}


.image{
    height: 15rem;
    width: 15rem;
    /* border: 1px solid #7e8c9c; */
    border-radius: 100%;
    margin-bottom: 3rem;
    z-index: 300;
    /* box-shadow: 4px 3px 30px #7e8c9c,-4px 3px 30px #7e8c9c,1px 1px 10px inset #7e8c9c,-1px -1px 10px inset #7e8c9c; */

}

.image>img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    /* border: 1px solid #7e8c9c; */
    border-radius: 100%;
    /* margin: 3rem 0; */
}


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 3px solid #7e8c9c; */
    border-radius: 12px;
    width: 70%;
    max-width: 600px;
    height: auto;
    z-index: 300;
    /* box-shadow: 4px 3px 20px #7e8c9c,-4px 3px 20px #7e8c9c,1px 1px 10px inset #7e8c9c,-1px -1px 10px inset #7e8c9c; */
}

#yashu{
    font-family: 'Lato-Bold';
    font-size: 2.8rem;
    margin: 0;
    margin-bottom: 0.7rem;
}

#yashu>a, #yashu>a:visited{
    text-decoration: none;
    color: #FF5F1F;
}

#punch{
    font-family: 'Lato-Regular';
    font-size: 1.3rem;
    margin: 0;
}


#profile,#projects,#contact,#education,#experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
    margin: 2rem 0px;
}



#profile>div,#education>div,#experience>div,#contact>div{
    height: auto;
    color: white;
    width: 70%;
    /* box-shadow: 2px 1px 10px #7e8c9c,-2px 1px 10px #7e8c9c, 1px 1px 7px inset #7e8c9c,-1px -1px 7px inset #7e8c9c; */
    /* background: inherit; */
    /* backdrop-filter: blur(10px); */
    padding: 1rem;
    /* border: 1px solid #7e8c9c; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile>div>h2,#projects>div>h2,#contact>div>h2,#education>div>h2,#experience>div>h2{
    color: aliceblue;
    font-family: 'Lato-Black';
    font-size: 1.8rem;
    text-align: center;
}

.profile-sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.profile-info {
    width: auto;
    font-family: 'Lato-Regular';
    font-size: 1.2rem;
    line-height: 1.8rem;
    /* text-align: center; */
    width: 100%;
}

.cards{
    min-height: 10rem;
    width: 16rem;
    /* width: 30%; */
    margin: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

    background: rgba(85, 85, 85, 0.18); /* Semi-transparent white background */
    box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.2);
      /* 0 0 20px 5px rgba(155, 155, 155, 0.7); */
    backdrop-filter: blur(5px); /* Blur effect for a glossy look */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; 
    transition: transform 0.2s ease-in-out;
}

.cards:hover {
    box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.2),
      0 0 20px 5px rgba(173, 216, 230, 0.7);
    transform: translateY(-10px);
  }

  .resume-button{
    padding: 0.5rem 1.2rem;
    height: auto;
    width: auto;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: monospace;
    border: 0px solid #000000;
    background-color: #000000;
    border-radius: 4px;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .resume-button:hover{
    background-color: rgb(28, 45, 180);
    transform: translateY(-2px);
    /* box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.2),
      0 0 20px 5px rgba(173, 216, 230, 0.7); */
  }
  




.project-cards{
    max-width: 70vw;
    /* max-height: 30rem; */
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    scrollbar-width: none;
    /* flex-direction: row; */
    /* background-image: url("https://i.pinimg.com/564x/88/f8/43/88f8437b73a817d9ffd56d8c2405e0c3.jpg");
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
}

.project-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 4rem;
    width: 100%;
    margin: 0;
    border: 2px solid #7e8c9c;
    font-family: 'Lato-Regular';
    border-radius: 13px;
    margin-bottom: 0;
    /* margin-top: 83%; */
}

.project-img{
    width: 100%;
    height: 90%;
    border: 2px solid #7e8c9c;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    object-fit:contain ;
}

.project-name>a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Lato-Regular';
    font-size: 1.2rem;
}


.icons{
    color:#b6c3d3;
    font-size: 2.5rem;
    object-fit:fill;
    margin: 2rem;
    margin-left: 0;
    padding: 0;
}


.link-icons{
    color:#b6c3d3;
    font-size: 2.5rem;
    object-fit:fill;
    margin: 2rem;
}


/* ------------------------------------------------Experience section--------------------------------------- */
.experience-container {
    width: 100%;
    display: flex;
    padding-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: row; */
    flex: 1;
  }
  

.job-card {
    /* max-width: 45%; */
    width: auto;
    margin: 10px;
    letter-spacing: 1px;
  }
  

.job-role {
    font-size: 20px;
    color: #FFFFFF; /* White color */
    font-weight: bold;
    /* display: inline;  Not recommended in this case */
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  
  .company-name {
    font-size: 20px;
    color: #D3D3D3;
    /* display: inline;  Not recommended in this case */
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  
  .job-duration {
    font-size: 16px;
    color: #D3D3D3;
    /* display: inline;  Not recommended in this case */
    margin-block-start: 8px;
    margin-block-end: 8px;
  }
  


/* --------------------------------------------Education section------------------------------------------------ */

.study-card {
    /* max-width: 45%; */
    width: auto;
    height: auto;
    margin: 10px;
    letter-spacing: 1px;
}

.study-name {
    font-size: 20px;
    color: #FFFFFF; /* White color */
    font-weight: bold;
    /* display: inline;  Not recommended in this case */
    margin-block-start: 5px;
    margin-block-end: 5px;
  }

  .study-school {
    font-size: 20px;
    color: #D3D3D3;
    /* display: inline;  Not recommended in this case */
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  
  .study-score {
    font-size: 16px;
    color: #D3D3D3;
    /* display: inline;  Not recommended in this case */
    margin-block-start: 8px;
    margin-block-end: 8px;
  }

  .education-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 1rem;
    justify-content: space-between;
  }
  

  /* -------------------------------------------------Footer--------------------------------------------- */










  /* -------------------------------------------------Animation--------------------------------------------- */

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  /* Fade in animation */
  .fade-in {
    opacity: 0; /* Initially invisible */
    /* transition: opacity 0.5s ease-in-out;  */
  }
  .fade-in.in-view { /* Add this class on scroll animation */
    opacity: 1; /* Animate to fully visible */
    transition: opacity 0.8s ease-in-out;
  }


  /* Rise up animation */

  .rise-up {
    opacity: 0; /* Initially invisible */
    transform: translateY(100px);
  }
  
  .rise-up.in-view {
    opacity: 1; /* Animate to fully visible */
    transform: translateY(0); /* Move element back to original position */
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  